<div class="numeric-keyboard" ng-class="{'numeric-keyboard-open' : numericKeyboardCtrl.keyboardVisibility()}">
    <div class="panel-left">
        <div class="panel-row">
            <div class="button-container panel-col1 numeric-input-1" ng-click="numericKeyboardCtrl.clickNumber(1)">1</div>
            <div class="button-container numeric-input-2" ng-click="numericKeyboardCtrl.clickNumber(2)">2</div>
            <div class="button-container numeric-input-3" ng-click="numericKeyboardCtrl.clickNumber(3)">3</div>
        </div>
        <div class="panel-row">
            <div class="button-container panel-col1 numeric-input-4" ng-click="numericKeyboardCtrl.clickNumber(4)">4</div>
            <div class="button-container numeric-input-5" ng-click="numericKeyboardCtrl.clickNumber(5)">5</div>
            <div class="button-container numeric-input-6" ng-click="numericKeyboardCtrl.clickNumber(6)">6</div>
        </div>
        <div class="panel-row">
            <div class="button-container panel-col1 numeric-input-7" ng-click="numericKeyboardCtrl.clickNumber(7)">7</div>
            <div class="button-container numeric-input-8" ng-click="numericKeyboardCtrl.clickNumber(8)">8</div>
            <div class="button-container numeric-input-9" ng-click="numericKeyboardCtrl.clickNumber(9)">9</div>
        </div>
        <div class="panel-row">
            <div class="button-container-0 numeric-input-0" ng-click="numericKeyboardCtrl.clickNumber(0)">0</div>
            <div class="button-container numeric-input-decimal-separator" ng-click="numericKeyboardCtrl.clickDecimalSeparator()">{{numericKeyboardCtrl.decimalSeparator}}</div>
        </div>
    </div>
    <div class="panel-right">
        <div class="panel-row">
            <div class="button-container-clear numeric-input-clear" ng-if="::!numericKeyboardCtrl.isTouchDevice()" ng-click="numericKeyboardCtrl.clickDelete()">
                <span class="keyboard"></span>
            </div>
            <div class="button-container-clear numeric-input-clear" ng-if="::numericKeyboardCtrl.isTouchDevice()" touchstart="numericKeyboardCtrl.startDelete()" touchend="numericKeyboardCtrl.stopDelete()">
                <span class="keyboard"></span>
            </div>
        </div>
        <div class="panel-row">
            <div class="button-container-confirm numeric-input-confirm" ng-click="numericKeyboardCtrl.clickConfirm()">{{confirmLabel ? confirmLabel : 'OK'}}</div>
        </div>
    </div>
</div>
